[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
backoff = "*"
fastapi = "*"
nltk = "*"
numpy = "*"
peft = "*"
python-dotenv = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
torch = "*"
transformers = "*"
tqdm = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
datasets = "*"
openai = "*"
ipywidgets = "*"
gradio = "*"
spaces = "*"

[requires]
python_version = "3.13"
